.header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.add-button {
  background: none;
  font-size: 38px;
  border: none;
  color: blue;
}

.add-button:hover {
  cursor: pointer;
}

hr {
  width: 55%;
  border: 1px solid #000;
  box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.75);
}

.tarjeta {
  margin-top: 2rem;
  width: 344px;
  max-width: 344px;
  height: 215px;
  background-color: #b8f4fe;
  border-radius: 14px;
  box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 2px 11px 0px rgba(0, 0, 0, 0.35);
  list-style: none;
}

.tarjeta-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.ojo {
  padding-right: 1rem;
}
.ojo:hover {
  cursor: pointer;
}

.logo-eliminar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.number {
  font-size: 22px;
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: flex-start;
  height: 30%;
  align-items: center;
}
.nombre {
  font-weight: 450;
  padding: 0 0 0 1rem;
  margin: 0.5rem;
}
.venc-clav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.formulario {
  text-align: center;
  width: 480px;
  padding: 0;
}
input[type="text"],
input[type="number"] {
  background: none;
  border-radius: 12px;
  height: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  font-size: medium;
  width: 90%;
}
::placeholder {
  color: grey;
}
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 54%;
  padding: 2rem;
  overflow-y: auto;
  height: 82vh;
}
.tachito:hover {
  cursor: pointer;
}

.hasta {
  font-size: x-small;
  vertical-align: text-top;
}
.security {
  font-size: 20px;
}
